<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h4 class="center" >Short your link </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="input-group">
          <div class="input-group-btn">
            <input type="text" name="url" id="url" placeholder="type your link here" class="form-control">
            <button class="btn btn-success"> OK </button>
          </div>
        </div>
      </div>
    </div>
  </div>
   <% if @short_urls %>
     <div class="row" id="results">
        <div class="col-lg-4">
          <ul>
            <% @short_urls.each do |url|%>
              <li><%= link_to url.short_url, controller: "welcome", action: "index", id: url.short_url %></li>
            <% end %>
          </ul>
        </div>
     </div>
  <% end %>
</div>
